# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.ecg_env/

# Model artifacts
*.keras
*.h5

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/


.venv/
.venv311/
venv/
env/

# Python cache
__pycache__/
*.pyc